{{!-- <div class="login">
<div class="loginF">
  <h2>Login</h2>
  <form action="/auth/login" method="POST" id="form-container">
    <label for="username">Usuario</label>
    <input id="username" type="text" name="username" placeholder="Nombre de usuario">
    <br><br>
    <label for="password">Contraseña</label>
    <input id="password" type="password" name="password" placeholder="Contraseña">
    <br>
    {{#if message }}
      <div class="error-message">Usuario o contraseña incorretas</div>
    {{/if}}
    <br><br>
    <button>Login</button>
    <p class="account-message">
      ¿Aún no tienes una cuenta?
      <a href="/auth/signup">Signup</a>
    </p>
  </form>
</div>
</div> --}}

<div class="login">
<div class="loginF">
  <h2>Login</h2>
  <form action="/auth/login" method="POST" id="form-container">
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre de usuario</label>
      <input  name="username" type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    {{#if message }}
      <div class="error-message">Usuario o contraseña incorretas</div>
    {{/if}}
    <button type="submit" class="btn btn-secondary">Login</button>
    <p class="account-message">
      ¿Aún no tienes una cuenta?
      <a href="/auth/signup">Signup</a>
    </p>
  </form>
</div>
</div>