<div class="profile">
  <h2>Mi perfil</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="#" class="btn btn-primary">Crear espacio</a>
      </div>
      <div class="col-sm">
        <a href="#" class="btn btn-primary">Editar espacio</a>
      </div>
      </div>
      <div class="col-sm">
        <a href="#" class="btn btn-primary">Eliminar espacio</a>
      </div>
      </div>
    </div>
  </div>
</div>