<header id="header">
  <h1>Decide donde y cuando</h1>
</header>
<section id="section">
  <hr id="hr">
  <h1>Conviértete ahora mismo en anfitrión</h1>
  <div>
    <div>
      <h3>Crea tu cuenta</h3>
      <p>Puedes crear tu cuenta realizando unos simples pasos, simplemente rellene sus datos y escoja ser anfitrión <a href="/auth/signup">aquí</a>.</p>
    </div>
    <div>
      <h3>Ofrece una estancia</h3>
      <p>Ofrezca alojamiento de una manera sencilla y cómoda, no se preocupe más.</p>
    </div>
    <div>
      <h3>Añada o modifique</h3>
      <p>Añadir y modificar sus alojamientos a su alcance con tan solo unos clicks.</p>
    </div>
  </div>
</section>
<section id="section">
  <hr id="hr">
  <h1>Conoce nuevos lugares</h1>
</section>
