<div id="create">
  <form action="/places/create" method="POST">
    <h2>Crea</h2>
    <label for="price">Precio</label>
    <br>
    <input type="number" name="price" id="price">

    <br><br>

    <label for="startDate">Fecha de inicio</label>
    <br>
    <input type="date" name="startDate" id="startDate">

    <br><br>

    <label for="endDate">Fecha de finalización</label>
    <br>
    <input type="date" name="endDate" id="endDate">

    <br><br>

    <label for="description">Descripción</label>
    <br>
    <input type="text" name="description" id="description">

    <br><br>

    <label for="photo">Foto</label>
    <br>
    <input type="file" name="photo" id="photo">

    <input id="lng" type="text" name="lng" hidden>
    <input id="lat" type="text" name="lat" hidden>
    <input id="address" type="text" name="address" hidden>
    <input id="name" type="text" name="name" hidden>
    <br><br>

    <button type="submit">Crear</button>
    <div id='map'></div>

  </form>
  <div id="right">
    <h3>Escoja aqui la ubicación</h3>
  </div>
</div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zZWNhem9ybGEiLCJhIjoiY2szNjI3M2tkMDdjdjNocXA2bTl4ZThvdiJ9.Z4j_rPWQgMRpRRFW6na_ug';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11', 
    center: [-122.25948, 37.87221], 
    zoom: 12, 
  });

  var geocoder = new MapboxGeocoder({ 
    accessToken: mapboxgl.accessToken, 
    mapboxgl: mapboxgl, 
    marker: true, 
  });

  map.addControl(geocoder);

  map.on('load', function() {
    map.addSource('single-point', {
      type: 'geojson',
      data: {
        type: 'FeatureCollection',
        features: []
      }
    });

    geocoder.on('results', (results) => {
      console.log(results)
      document.querySelector('#address').value = results.features[0].place_name
      document.querySelector('#lat').value = results.features[0].center[1];
      document.querySelector('#lng').value = results.features[0].center[0];
      document.querySelector('#name').value = results.features[0].text;
  })
  });
</script>