* {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(201, 180, 132, 0.673); }

a {
  color: #00B7FF; }

#header {
  background-image: url("../images/headImage.jpeg");
  background-size: cover;
  background-position-y: -90px;
  width: 100%;
  height: 90vh; }

#header > h1 {
  padding-left: 220px; }

#map-size {
  height: 88vh;
  width: 100%; }

#mapid {
  height: 80vh; }

#section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh; }

#hr {
  height: 30px;
  border-top: 2px solid grey;
  width: 80%;
  padding-bottom: 5vh; }

#logo {
  height: 80px;
  width: 80px; }

#section div {
  display: flex;
  justify-content: space-around;
  margin: 5vh 0;
  align-items: center; }

#section div div {
  width: 20%; }

#section div div {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#geocoder-container > div {
  min-width: 50%;
  margin-left: 25%; }

#create {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh; }

#map {
  width: 50vw;
  height: 60vh; }

#right h3 {
  margin-left: 102vh;
  padding-top: 19vh; }

#marker {
  background-image: url("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-512.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer; }

.signup {
  background-image: url("../images/signup.jpg");
  background-size: cover;
  background-position-y: -170px;
  width: 100%;
  height: 90vh;
  text-align: right; }

.signupF {
  background: rgba(247, 244, 244, 0.5);
  width: 35%;
  border-radius: 30px;
  padding: 30px;
  text-align: right;
  position: absolute;
  left: 110px;
  bottom: 50px; }

.login {
  background-image: url("../images/login.jpg");
  background-size: cover;
  background-position-y: -170px;
  width: 100%;
  height: 90vh;
  text-align: right; }

.loginF {
  background: rgba(247, 244, 244, 0.5);
  width: 35%;
  border-radius: 30px;
  padding: 30px;
  text-align: right;
  position: absolute;
  left: 30px;
  bottom: 200px; }

button {
  padding: 7px; }

.create {
  background-image: url("../images/create.jpeg");
  background-size: cover;
  background-position-y: -170px;
  width: 100%;
  height: 100vh; }

.createF {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  width: 35%;
  border-radius: 30px;
  padding: 10px;
  text-align: right;
  position: absolute;
  left: 80px;
  bottom: 7px; }

#map {
  position: absolute;
  bottom: 20px;
  left: 500px;
  margin-left: 5vh;
  margin-top: 10vh; }

.profile {
  background-image: url("../images/profile.jpg");
  background-size: cover;
  background-position-y: -170px;
  width: 100%;
  height: 90vh; }

#searchBar {
  padding-left: 140vh;
  padding-top: 5vh; }

h5 > a {
  text-decoration: none; }

#searched-places {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
  justify-content: space-around; }

#image-slides {
  margin-left: 10%;
  padding-top: 2%;
  padding-bottom: 5%;
  width: 80vw; }

#index-image {
  height: 25%;
  width: 20%; }

#profile {
  display: flex;
  justify-content: space-around;
  padding-top: 6vh;
  text-align: center; }

#image-profile {
  width: 50%; }

#profile-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh; }

#places-buttons {
  display: flex;
  justify-content: flex-end; }

#no-places {
  display: flex;
  flex-direction: column;
  align-items: center; }

/*# sourceMappingURL=style.css.map */