{{!-- <div id="map-size">
  <div id='map' style='height: 80vh;'></div>
</div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zZWNhem9ybGEiLCJhIjoiY2szNjI3M2tkMDdjdjNocXA2bTl4ZThvdiJ9.Z4j_rPWQgMRpRRFW6na_ug';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });

  const marker = new mapboxgl.Marker({ color: 'red' })
  marker.setLngLat([19.3910036,-99.2840428]).setPopup(new mapboxgl.Popup().setHTML(`<span>Aqui si</span>`)).addTo(map);
</script> --}}

